.ant-tabs-tab {
    border-color: transparent !important;
    border-bottom-color: #ffffff !important;
    background: transparent !important;
    padding: 12 50px !important;
    .ant-tabs-tab-btn {
        color: #ffffff !important;
    }
}