.navBar {
  width: 100%;
  height: 30px;
  background-color: #f5f5f5;
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

  p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .actionIcons {
    display: flex;
    align-items: center;
    margin-right: 10px;

    // Target the MuiIconButton
    button {
      padding: 4px;

      // Target the svg icon inside content
      svg {
        font-size: 1.1rem;
      }
    }
  }
}